@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
}

/*Switch*/
.switch-container {
  @apply h-6 w-12 rounded-l-full rounded-r-full bg-gray-200 relative cursor-pointer;
  box-shadow: inset -1px 1px 5px rgb(0 0 0 / 0.2);
}
.switch-container.dark {
  background-color: rgb(50 50 50);
  box-shadow: inset -1px 1px 5px rgb(200 200 200 / 0.2);
}

.switch-child {
  @apply h-4 w-4 rounded-full bg-ma-off-white  absolute;
  box-shadow: 2px 0px 3px rgb(0 0 0 / 0.2);
  top: 50%;
  left: 4px;
  right: auto;
  transform: translateY(-50%);
}

.switch-container.dark .switch-child {
  left: auto;
  right: 4px;
  box-shadow: -2px 0px 3px rgb(200 200 200 / 0.2);
  @apply bg-ma-black;
}

.homepage-offers {
  grid-template: repeat(2, 1fr) / repeat(6, 1fr);
  grid-template-areas:
    "A A A A  B B"
    "A A A A  C C";
  height: 360px;
}

.homepage-offers > div {
  min-width: 0;
}

.homepage-offers-mobile {
  grid-template-areas:
    "A A "
    "A A "
    "B C ";
  height: 360px;
}
/* Footer Menu Title*/
.footer-menu-title {
  @apply font-extrabold text-xl text-ma-white relative uppercase whitespace-nowrap;
}
.footer-menu-title::after {
  @apply bg-ma-white;
  content: "";
  position: absolute;
  left: 0;
  width: 40px;
  height: 4px;
  bottom: -4px;
}

/* Sidebar CheckBox */
.sidebar-checkbox {
  position: relative;
}
.sidebar-checkbox input[type="checkbox"] {
  width: 16px;
  height: 16px;
  appearance: none;
  position: relative;
  display: block;
  float: left;
  box-sizing: border-box;
  margin: 0;
  font-weight: 300;
  border: 1px solid #adadad;
  border-radius: 2px;
  z-index: 2;
}
.sidebar-checkbox .highlight {
  opacity: 0;
}

.sidebar-checkbox:hover input[type="checkbox"] {
  border: none;
}

.sidebar-checkbox:hover .highlight {
  @apply border-2 border-ma-light-blue h-4 w-4 absolute left-0 top-0 opacity-100 rounded-sm;
  transition: opacity 0.2s;
}

.sidebar-checkbox:hover .check {
  opacity: 0.25;
  transition: opacity 0.2s;
}

.sidebar-checkbox input[type="checkbox"]:checked {
  @apply border-ma-light-blue bg-ma-light-blue;
}

.sidebar-checkbox input[type="checkbox"]:checked ~ .check {
  fill: white;
  z-index: 3;
  opacity: 1;
}

.sidebar-checkbox .check {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
}
